<header>
    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="../../../assets/logo.png" alt="" srcset="">
            </div>
            <div class="search">
                <input type="search" placeholder="Search Best Tech">
                <i class="bi bi-search"></i>
            </div>
            <div class="icons">
                <div class="connect" routerLink="login">
                    <i class="bi bi-person-circle"></i>
                    <span>connect</span>
                </div>
                <div class="basket" routerLink="cart">
                    <i class="bi bi-cart"></i>
                    <span>cart</span>
                </div>
            </div>
        </div>
    </div>
</header>