<div class="footer">
    <div class="logo">
        <img src="../../../assets/logo.png" alt="" srcset="">
        <p>Best Tech Computer, Leader of Tech in Tunisia</p>
    </div>
    <div class="content">
        <div class="info">
            <h4>Informations</h4>
            <p><i class="bi bi-geo-alt"></i> N°1 du #Gaming en Tunisie, PCs Gamers & Stations Pro, accessoires et composants, les prix les moins chers
                22 Rue de énergie solaire - Charguia 1
                Tunisia</p>
            <p><i class="bi bi-envelope"></i> contact@besttechcomputer.com</p>
            <p><i class="bi bi-telephone"></i> (+216)55119415 (+216)20146935 (+216)51987114</p>
        </div>
        <div class="categories">
            <h4>Categories</h4>
            <p><a href="">pc gamer</a></p>
            <p><a href="">gaming pc</a></p>
            <p><a href="">station pro</a></p>
            <p><a href="">PCs portables</a></p>
        </div>
        <div class="agency">
            <h4>Our agency</h4>
            <p><a href="">using condition</a></p>
            <p><a href="">contact-us</a></p>
            <p><a href="">site map</a></p>
        </div>
        <div class="newsLetter">
            <h4>Cover Letter</h4>
            <div class="input">
                <input type="email" placeholder="Your Email Adresse">
                <button>subscribe</button>
            </div>
            <p>You can unsubscribe at any time. You will find our contact details in the site's terms of use.</p>
        </div>
    </div>

    <div class="drop-content">
        <div class="info">
            <h4 (click)="exendListFooter('info')">Informations</h4>
            <ul id="info">
                <li>
                    <p><i class="bi bi-geo-alt"></i> N°1 du #Gaming en Tunisie, PCs Gamers & Stations Pro, accessoires et composants, les prix les moins chers
                    22 Rue de énergie solaire - Charguia 1
                    Tunisia</p>
                </li>
                <li>
                    <p><i class="bi bi-envelope"></i> contact@besttechcomputer.com</p>
                </li>
                <li>
                    <p><i class="bi bi-telephone"></i> (+216)55119415 (+216)20146935 (+216)51987114</p>
                </li>
            </ul>
            
        </div>
        <div class="categories">
            <h4 (click)="exendListFooter('cat')">Categories </h4>
            <ul id="cat">
                <li><p><a href="">pc gamer</a></p></li>
                <li><p><a href="">gaming pc</a></p></li>
                <li><p><a href="">station pro</a></p></li>
                <li><p><a href="">PCs portables</a></p></li>
            </ul>      
        </div>
        <div class="agency">
            <h4 (click)="exendListFooter('agency')">Our agency</h4>
            <ul id="agency">
                <li><p><a href="">using condition</a></p></li>
                <li><p><a href="">contact-us</a></p></li>
                <li><p><a href="">site map</a></p></li>
            </ul>
        </div>
        <div class="newsLetter">
            <h4 (click)="exendListFooter('letter')">Cover Letter</h4>
            <ul id="letter">
                <li>
                    <div class="input">
                        <input type="email" placeholder="Your Email Adresse">
                        <button>subscribe</button>
                    </div>
                    <p>You can unsubscribe at any time. You will find our contact details in the site's terms of use.</p>
                </li>
            </ul>
        </div>
    </div>
</div>