<div class="cart">
    <div class="container">
        <div class="content">
            <div class="products">
                <div class="product">
                    <img src="../../../assets/keb.jpg" alt="">
                    <div class="description">
                        <p class="name">Gamer Keyboard - Mechanical REDRAGON <br> K632 PRO Noctis 60% RGB</p>
                        <p class="price">139,000 DT</p>
                    </div>
                    <div class="quantity">
                        <p class="price"></p>
                        <div class="input">
                            <input type="number">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="delete-icon">
                        <i class="bi bi-trash-fill"></i>
                    </div>
                </div>
                <div class="product">
                    <img src="../../../assets/keb.jpg" alt="">
                    <div class="description">
                        <p class="name">Gamer Keyboard - Mechanical REDRAGON <br> K632 PRO Noctis 60% RGB</p>
                        <p class="price">139,000 DT</p>
                    </div>
                    <div class="quantity">
                        <p class="price"></p>
                        <div class="input">
                            <input type="number">
                            <button>+</button>
                            <button>-</button>
                        </div>
                    </div>
                    <div class="delete-icon">
                        <i class="bi bi-trash-fill"></i>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="articles">
                    <p class="number">2 articles</p>
                    <p class="total-price"> 846,038 DT</p>
                </div>
                <div class="delivery">
                    <p>Delivery</p>
                    <p>Free</p>
                </div>
                <hr>
                <div class="total-all">
                    <p>Total(TTC)</p>
                    <p>829,00 DT</p>
                </div>
                <div class="tax">
                    <p>Taxes inclues</p>
                    <p>54,034 DT</p>
                </div>
                <button>Proceed</button>
            </div>
        </div>
    </div>
</div>